{% extends "base.html" %}

{% block content %}
    <h2>Spending by Category</h2>
    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Total Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for category in category_totals %}
                <tr>
                    <td>{{ category['category'] }}</td>
                    <td>{{ '%.2f'|format(category['total']) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}